<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBRARY</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="icon" href="images/library1.ico">

</head>
<body>
  <body background="/images/bg.jpg" >

    <!-- for nav tab -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-dark">


            <img src="images/library.ico" width="30" height="30" alt="">
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      

        <div class="collapse navbar-collapse" id="navbarNav">
          <a href="/" class="navbar-brand">Home</a>
          <ul class="navbar-nav">

            <%for(i=0;i<nav.length;i++){%>
            <li class="nav-item">
              <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].name%></a>
            </li>

            <%}%>

           
            <
          </ul>
        </div>
      </nav>

    
          <br>

 
  


<div>
  <%for(i=0;i<books.length;i++){%>


  <div class="row row-cols-1 row-cols-md-3" style="max-width: 1500px;">
    <!-- <div class="col mb-4"> -->
      <div class="card" style="left: .3cm;">
        <img src="/images/<%=books[i].img%>" class="card-img-top" alt="..." height="400" width="400">
        <div class="card-body card text-white bg-success mb-3">
          <h5 class="card-title"><%=books[i].title%></h5>
          <p class="card-text"><%=books[i].readmore%></p>
          <a href="<%=books[i].link%>" style="color:rgb(190, 41, 41);"><small class="text">About Author : <%=books[i].author%></small></a>
          <br>
          <a href=" <%=books[i].order%> " style="color:rgb(165, 33, 33);">0rder Book</a>
        </div>
      </div>
    </div>

    <%}%>
    
     </div>
    </div>
  </div>

</div>


<br><br><br>

<footer class="footer-div">
  <br>
  <div class="container">

  
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6 footer-column">
        <h4>About us</h4>
        <div class="footer-menu">
          <p>Reading books to help us learn and understand and makes us smarter, not to mention the knowledge, vocabulary and thinking skills we develop.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 footer-column">
        <h4>Quick links</h4>
        <ul class="footer-menu">
          <li><a href="signup.html">Sign up</a></li>
          <li><a href="login.html">Login</a></li>
         
        </ul>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 footer-column">
        <h4>Contact us</h4>

        <div class="footer-menu">
        <p>
           p746, Pathanamthitta, Kerala</p>

          <p>
           </i> tittosamthomas@gmail.com</p>

          <p>
           </i> +91 9744728862</p>
          </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 footer-column ">
        <h4>Follow us</h4>

   
        <ul class="follow">
   <li><a  href="http://www.facebook.com" target="_blank">
      <img src="images/fb.jpg" width="40" height="40">
    </a></li> 
   
    <li>  <a  href="http://www.twitter.com" target="_blank">
      <img src="images/twi.png" width="40" height="40">
    </a></li> 
  
   
    <li>   <a  href="http://www.instagram.com" target="_blank">
      <img src="images/insta.jpg" width="40" height="40">
    </a></li> 
  </ul>

      </div>
      
    </div>
  </div>
<div class="footer-copyright text-center py-1">
<p> Copyright 2020. libraryApp.com. All Rights Reserved</p>
</div>
</footer>


  
</body>
</html>